<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[error2Class]" role="alert" v-if="erro">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
        <strong>Atenção!</strong> {{mensagemErro}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Novo Comunicado Interno</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/comunicadosinternos" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="enviar" autocomplete="off">
                <fieldset>
                  <legend>Local e responsável pelas informações</legend>
                  <div class="input-group">
                    <span class="input-group-addon" >Matrícula</span>
                    <input type="text" class="form-control" v-model="matriculaResponsavel" placeholder="ex: 220302" @change="autoResponsavel()" list="matriculas">
                    <datalist id="matriculas">
                      <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                    </datalist>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="nome">Nome</span>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeResponsavel">
                  </div>
                  <br/>
                </fieldset>
                <fieldset>
                  <legend>Classificação da ocorrência</legend>
                  <div class="form-group">
                    <label class="control-label">Tipo</label>
                    <label class="radio-inline">
                      <input type="radio" v-model="tipo" value="Acidente"> Acidente
                    </label>
                    <label class="radio-inline">
                      <input type="radio" v-model="tipo" value="Quase acidente"> Quase Acidente
                    </label>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Tema</label>
                    <label class="radio-inline">
                      <input type="radio" v-model="tema" value="Saúde e Segurança do Trabalho"> Saúde e Segurança do Trabalho
                    </label>
                    <label class="radio-inline">
                      <input type="radio" v-model="tema" value="Meio Ambiente" > Meio Ambiente
                    </label>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Dados da ocorrência</legend>
                  <div class="form-group">
                    <label class="control-label">Descrição sucinta da ocorrência</label>
                    <textarea class="form-control" rows="3" v-model="descricao"></textarea>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Regional</label>
                    <select class="form-control" v-model="regionalSelecionada" required>
                      <option v-for="regional in regionais" :value="regional">{{regional.nome}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Polo</label>
                    <select class="form-control" v-model="poloSelecionado" required>
                      <option v-for="polo in regionalSelecionada.polos" :value="polo">{{polo.nome}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Localidade do Polo</label>
                    <select class="form-control" v-model="localidadePoloSelecionada" required>
                      <option v-for="localidadePolo in poloSelecionado.localidadesPolo" :value="localidadePolo">{{localidadePolo.nome}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label" for="processo">Processo</label>
                    <select class="form-control" id="processo" v-model="processoSelecionado" required>
                      <option v-for="processo in processos" :value="processo">{{processo.nome}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Tarefa</label>
                    <textarea class="form-control" rows="3" v-model="tarefa"></textarea>
                  </div>
                  <br/>
                  <fieldset>
                    <legend>Local do acidente</legend>
                    <div class="input-group">
                      <span class="input-group-addon" id="endereco">Endereço</span>
                      <input type="text" class="form-control" v-model=vm.searchPlace v-gmaps-searchbox:location=vm placeholder="ex: Passagem santa cruz">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cep">CEP</span>
                      <input type="number" class="form-control" placeholder="ex: 66115080" v-model="cep">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="estado">Estado</span>
                      <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="estado">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cidade">Cidade</span>
                      <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="cidade">
                    </div>
                  </fieldset>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Data da ocorrência:</span>
                      <input type="date" class="form-control" placeholder="31/12/1994" v-model="dataOcorrido">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Hora da ocorrência:</span>
                      <input type="time" class="form-control" v-model="horaOcorrido">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Representante do Sesmt</span>
                    <input type="text" class="form-control" v-model="representanteSesmt">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Numero da CAT</span>
                    <input type="text" class="form-control" v-model="numeroCat">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Especificação de risco</span>
                    <input type="text" class="form-control" v-model="especificacaoRisco">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Natureza da Lesao</span>
                    <input type="text" class="form-control" v-model="naturezaLesao">
                  </div>
                  <br/>
                  <fieldset>
                    <div class="input-group">
                      <span class="input-group-addon" id="endereco">Parte do corpo atingida</span>
                      <input type="text" class="form-control" v-model="parteCorpo" readonly>
                    </div>
                    <br/>
                    <legend>Selecione a parte do corpo atingida na imagem abaixo</legend>
                    <img src="/static/img/corpohumano.png" class="img-responsive center-block" usemap="#imagemcorpo">
                    <map name="imagemcorpo">
                      <area shape="circle" coords="151,49,50" alt="Cabeça" @click="parteCorpoSelecionada('Cabeça')">
                      <area shape="circle" coords="155,150,50" alt="Tronco" @click="parteCorpoSelecionada('Tronco')">
                      <area shape="circle" coords="235,190,35" alt="Membros Superiores" @click="parteCorpoSelecionada('Membros Superiores')">
                      <area shape="circle" coords="270,284,35" alt="Mãos" @click="parteCorpoSelecionada('Mãos')">
                      <area shape="circle" coords="130,395,35" alt="Membros Inferiores" @click="parteCorpoSelecionada('membros Inferiores')">
                      <area shape="circle" coords="180,450,35" alt="Partes Multiplas" @click="parteCorpoSelecionada('Partes Multiplas')">
                      <area shape="circle" coords="130,510,35"  alt="Pés" @click="parteCorpoSelecionada('Pés')">
                    </map>
                  </fieldset>
                  <fieldset>
                    <legend>Gravidade do Ocorrido</legend>
                    <table class="table table-striped table-bordered table-condense">
                      <tbody>
                        <tr>
                          <th>Gravidade</th>
                          <th>Descricao</th>
                        </tr>
                        <tr style="background-color:#60bf40;">
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="gravidade" value="Leve" aria-label="...">
                                Leve
                              </label>
                            </div>
                          </td>
                          <td>
                            <p>Primeiros Socorros</p>
                          </td>
                        </tr>
                        <tr style="background-color:#67a6e4;">
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="gravidade" value="Moderada" aria-label="...">
                                Moderada
                              </label>
                            </div>
                          </td>
                          <td>
                            <p>Lesões que podem gerar cicatrizes, havendo necessidade de cuidados médicos, podendo ou não haver afastamento.</p>
                          </td>
                        </tr>
                        <tr style="background-color:#dfaf20;">
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="gravidade" value="Grave" aria-label="...">
                                Grave
                              </label>
                            </div>
                          </td>
                          <td>
                            <p>Acidentes que podem levar a incapacidade temporária ou definitiva e com afastamento acima de 15 dias.</p>
                          </td>
                        </tr>
                        <tr style="background-color:#cc3359;">
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="gravidade" value="Gravíssima" aria-label="...">
                                Gravíssima
                              </label>
                            </div>
                          </td>
                          <td>
                            <p>Acidentes com fatalidade</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Pessoas envolvidas na ocorrência</legend>
                  <table class="table table-striped table-bordered table-condense">
                    <tbody>
                      <tr>
                        <th style="width: 150px">Matricula</th>
                        <th>Nome</th>
                        <th style="width: 150px">Envolvimento</th>
                        <th style="width: 150px">Relação</th>
                        <th style="width: 150px">Ação</th>
                      </tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control" v-model="matriculaEnvolvido" placeholder="ex: 220302" list="matriculas" @change="autoEnvolvido()">
                          <datalist id="matriculas">
                            <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                          </datalist>
                          <br/>
                        </td>
                        <td>
                          <input type="text" class="form-control" name="nome" v-model="nomeEnvolvido">
                        </td>
                        <td>
                          <select class="form-control" v-model="envolvimentoEnvolvido">
                            <option>acidentado</option>
                            <option>testemunha</option>
                          </select>
                        </td>
                        <td>
                          <select class="form-control" v-model="relacaoEnvolvido">
                            <option>empregado</option>
                            <option>parceiro</option>
                            <option>terceiro</option>
                          </select>
                        </td>
                        <td>
                          <button class="btn btn-default" type="button" @click="adicionarEnvolvido()"><span class="fa fa-plus"> Adicionar envolvido</button>
                        </td>
                      </tr>
                      <tr v-for="(envolvido,index) in membros">
                        <td>
                          {{envolvido.matricula}}
                        </td>
                        <td>
                          {{envolvido.nome}}
                        </td>
                        <td>
                          <select class="form-control" readonly>
                            <option selected>{{envolvido.envolvimento}}</option>
                          </select>
                        </td>
                        <td>
                          <select class="form-control" readonly>
                            <option selected>{{envolvido.relacao}}</option>
                          </select>
                        </td>
                        <td>
                          <button class="btn btn-default btn-small" type="button" @click="removerEnvolvido(envolvido, index)"><span class="fa fa-remove"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br/>
                </fieldset>
                <br/>
                <div class="form-group">
                  <label class="control-label">Danos pessoais sofridos relatados pelo empregado e/ou testemunha</label>
                  <textarea class="form-control" rows="3" v-model="danosPessoais"></textarea>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Danos materiais / ambientais</label>
                  <textarea class="form-control" rows="3" v-model="danosMateriaisAmbientais"></textarea>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Ocorreu geração de resíduos?</label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="houveResiduos" value="0"> Não
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="houveResiduos" value="1"> Sim
                  </label>
                </div>
                <br/>
                <table class="table table-striped table-bordered" v-if="houveResiduos === 1">
                  <tbody>
                    <tr>
                      <th>Identificação do resíduo</th>
                      <th style="width: 150px">Quantidade</th>
                      <th style="width: 150px">Destinação dada</th>
                      <th style="width: 150px">Ações</th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" class="form-control" v-model="identificacaoResiduo">
                      </td>
                      <td>
                        <input type="number" class="form-control" v-model="quantidadeResiduo">
                      </td>
                      <td>
                          <input type="text" class="form-control" v-model="destinacaoDadaResiduo">
                      </td>
                      <td>
                        <button class="btn btn-default" type="button" @click="adicionarResiduo()"><span class="fa fa-plus"> Adicionar Residuo</button>
                      </td>
                    </tr>
                    <tr v-for="(residuo,index) in residuos">
                      <td>
                        {{residuo.identificacao}}
                      </td>
                      <td>
                        {{residuo.quantidade}}
                      </td>
                      <td>
                        {{residuo.destinacaoDada}}
                      </td>
                      <td>
                        <button class="btn btn-default btn-small" type="button" @click="removerResiduo(index)"><span class="fa fa-remove"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'novocomunicadointerno',
    data () {
      return {
        regionalSelecionada: '',
        poloSelecionado: '',
        localidadePoloSelecionada: '',
        dataCriacao: '',
        dataCriacaoCopia: '',
        horaCriacao: '',
        horaCriacaoCopia: '',
        dataOcorrido: '',
        dataOcorridoCopia: '',
        horaOcorrido: '',
        horaOcorridoCopia: '',
        descricao: '',
        descricaoCopia: '',
        endereco: '',
        enderecoCopia: '',
        cep: '',
        cepCopia: '',
        posicaoGeografica: {'lat': 0, 'lng': 0},
        posicaoGeograficaCopia: '',
        estado: '',
        estadoCopia: '',
        cidade: '',
        cidadeCopia: '',
        nomeResponsavel: '',
        matriculaResponsavel: '',
        processoSelecionado: '',
        tarefa: '',
        tipo: '',
        tema: '',
        analiseRiscoSelecionada: {'id': 'NULL'},
        errorClass: '',
        error2Class: '',
        mensagemEnvio: '',
        mensagemErro: '',
        erro: '',
        vm: {
          searchPlace: '',
          location: {}
        },
        nomeEnvolvido: '',
        matriculaEnvolvido: '',
        envolvimentoEnvolvido: '',
        relacaoEnvolvido: '',
        envolvidos: [],
        envolvidosFuncionarios: [],
        identificacaoResiduo: '',
        quantidadeResiduo: '',
        destinacaoDadaResiduo: '',
        residuos: [],
        membros: [],
        parteCorpo: '',
        parteCorpoCopia: '',
        codigo: '',
        codigoCopia: '',
        representanteSesmt: '',
        representanteSesmtCopia: '',
        gravidade: '',
        gravidadeCopia: '',
        naturezaLesao: '',
        naturezaLesaoCopia: '',
        numeroCat: '',
        numeroCatCopia: '',
        especificacaoRisco: '',
        especificacaoRiscoCopia: '',
        danosPessoais: '',
        danosPessoaisCopia: '',
        danosMateriaisAmbientais: '',
        danosMateriaisAmbientaisCopia: '',
        houveResiduos: ''
      }
    },
    computed: {
      funcionarios () {
        return this.$store.state.funcionarios
      },
      processos () {
        return this.$store.state.processos
      },
      regionais () {
        return this.$store.state.regionais
      },
      dados () {
        return this.vm.location
      },
      preenchido () {
        return this.vm.searchPlace
      },
      localidadesPolo () {
        return this.$store.state.localidadespolo
      },
      analisesRisco () {
        return this.$store.state.analisesrisco
      },
      envolvidosFuncionariosCopia () {
        return this.envolvidosFuncionarios
      },
      envolvidosCopia () {
        return this.envolvidos
      },
      residuosCopia () {
        return this.residuos
      },
      localidadePoloSelecionadaCopia () {
        return this.localidadePoloSelecionada
      },
      processoSelecionadoCopia () {
        return this.processoSelecionado
      },
      tarefaCopia () {
        return this.tarefa
      },
      analiseRiscoSelecionadaCopia () {
        return this.analiseRiscoSelecionada
      },
      nomeResponsavelCopia () {
        return this.nomeResponsavel
      },
      matriculaResponsavelCopia () {
        return this.matriculaResponsavel
      }
    },
    mounted () {
      this.getFuncionarios()
      this.getProcessos()
      this.getRegionais()
      this.getAnalisesRisco()
    },
    watch: {
      dados () {
        this.carregarEnderecos()
      },
      preenchido () {
        if (this.preenchido === '') {
          this.cep = ''
          this.estado = ''
          this.cidade = ''
          this.posicaoGeografica = ''
        }
      }
    },
    methods: {
      enviar () {
        this.dataCriacao = new Date().toLocaleDateString()
        this.horaCriacao = new Date().toLocaleTimeString()
        this.dataOcorrido = this.reverseData(this.dataOcorrido)
        this.dataCriacao = this.reverseData(this.dataCriacao)
        this.dataCriacaoCopia = this.dataCriacao
        this.horaCriacaoCopia = this.horaCriacao
        this.dataOcorridoCopia = this.dataOcorrido
        this.horaOcorridoCopia = this.horaOcorrido
        this.descricaoCopia = this.descricao
        this.temaCopia = this.tema
        this.tipoCopia = this.tipo
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.respostasCopia = this.respostas
        this.membrosCopia = this.membros
        this.danosPessoaisCopia = this.danosPessoais
        this.danosMateriaisAmbientaisCopia = this.danosMateriaisAmbientais
        this.codigo = String(new Date().getDate() + 100).slice(1, 3) + String(new Date().getMonth() + 101).slice(1, 3) + '' + new Date().getFullYear() + 'COM' + String(this.$store.state.comunicadosInternos.length + 100001).slice(1, 6)
        this.codigoCopia = this.codigo
        this.representanteSesmtCopia = this.representanteSesmt
        this.naturezaLesaoCopia = this.naturezaLesao
        this.parteCorpoCopia = this.parteCorpo
        this.especificacaoRiscoCopia = this.especificacaoRisco
        this.numeroCatCopia = this.numeroCat
        this.gravidadeCopia = this.gravidade
        if (this.funcionarios.some(fun => fun.matricula === this.matriculaResponsavel)) {
          this.$http.post(this.$store.state.urlAPI + 'dados/locais/novo_local', {
            'Endereco': this.endereco,
            'CEP': this.cep,
            'PosicaoGeografica': this.posicaoGeografica,
            'Estado': this.estado,
            'Cidade': this.cidade
          }).then((response) => {
            console.log('sucess ', response.body)
            response.json().then((dataLocal) => {
              this.$http.post(this.$store.state.urlAPI + 'formularios/comunicados_internos/novo_comunicado', {
                'HoraCriacao': this.horaCriacao,
                'DataCriacao': this.dataCriacao,
                'DataOcorrido': this.dataOcorrido,
                'HoraOcorrido': this.horaOcorrido,
                'Descricao': this.descricao,
                'Tipo': this.tipo,
                'Tema': this.tema,
                'DanosPessoais': this.danosPessoais,
                'DanosMateriaisAmbientais': this.danosMateriaisAmbientais,
                'Codigo': this.codigo,
                'RepresentanteSesmt': this.representanteSesmt,
                'Gravidade': this.gravidade,
                'NaturezaLesao': this.naturezaLesao,
                'ParteCorpo': this.parteCorpo,
                'EspecificacaoRisco': this.especificacaoRisco,
                'NumeroCat': this.numeroCat,
                'TB_Local_idTB_Local': dataLocal.id,
                'TB_Funcionario_Matricula': this.matriculaResponsavel,
                'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionadaCopia.id,
                'TB_AnaliseRisco_idTB_AnaliseRisco': this.analiseRiscoSelecionada.id,
                'TB_Processo_idTB_Processo': this.processoSelecionado.id,
                'Tarefa': this.tarefaCopia
              }).then((response) => {
                console.log('sucess ', response.body)
                response.json().then((dataComunicado) => {
                  this.$store.commit('ADD_COMUNICADOINTERNO', {
                    'id': dataComunicado.id,
                    'descricao': this.descricaoCopia,
                    'horaCriacao': this.horaCriacaoCopia,
                    'dataCriacao': this.dataCriacaoCopia,
                    'dataOcorrido': this.dataOcorridoCopia,
                    'horaOcorrido': this.horaOcorridoCopia,
                    'tipo': this.tipoCopia,
                    'tema': this.temaCopia,
                    'danosPessoais': this.danosPessoaisCopia,
                    'danosMateriaisAmbientais': this.danosMateriaisAmbientaisCopia,
                    'codigo': this.codigoCopia,
                    'representanteSesmt': this.representanteSesmtCopia,
                    'gravidade': this.gravidadeCopia,
                    'naturezaLesao': this.naturezaLesaoCopia,
                    'parteCorpo': this.parteCorpoCopia,
                    'especificacaoRisco': this.especificacaoRiscoCopia,
                    'numeroCat': this.numeroCatCopia,
                    'local': {
                      'id': dataLocal.id,
                      'endereco': this.enderecoCopia,
                      'cep': this.cepCopia,
                      'posicaoGeografica': this.posicaoGeograficaCopia,
                      'estado': this.estadoCopia,
                      'cidade': this.cidadeCopia
                    },
                    'funcionario': {'matricula': this.matriculaResponsavelCopia, 'nome': this.nomeResponsavelCopia},
                    'analiseRisco': this.analiseRiscoSelecionadaCopia,
                    'processo': this.processoSelecionadoCopia,
                    'tarefa': this.tarefaCopia,
                    'localidadePolo': this.localidadePoloSelecionadaCopia,
                    'envolvidos': [],
                    'envolvidosFuncionarios': [],
                    'residuos': []
                  })
                  let indexComunicadoInterno = this.$store.state.comunicadosInternos.length - 1
                  for (let residuo in this.residuosCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/residuos/novo_residuo', {
                      'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': dataComunicado.id,
                      'Identificacao': this.residuosCopia[residuo].identificacao,
                      'Quantidade': this.residuosCopia[residuo].quantidade,
                      'DestinacaoDada': this.residuosCopia[residuo].destinacaoDada
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      response.json().then((dataResiduo) => {
                        this.$store.commit('ADD_RESIDUO', {
                          'index': indexComunicadoInterno,
                          'residuo': {
                            'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': dataComunicado.id,
                            'id': dataResiduo.id,
                            'identificacao': this.residuosCopia[residuo].identificacao,
                            'residuo': this.residuosCopia[residuo].quantidade,
                            'destinacaoDada': this.residuosCopia[residuo].destinacaoDada
                          }
                        })
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  for (let envolvido in this.envolvidosCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/envolvidoscomunicado/novo_envolvido', {
                      'Nome': this.envolvidosCopia[envolvido].nome,
                      'Envolvimento': this.envolvidosCopia[envolvido].envolvimento,
                      'Relacao': this.envolvidosCopia[envolvido].relacao,
                      'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': dataComunicado.id
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      response.json().then((dataEnvolvido) => {
                        this.$store.commit('ADD_ENVOLVIDO', {
                          'index': indexComunicadoInterno,
                          'envolvido': {
                            'id': dataEnvolvido.id,
                            'comunicado': dataComunicado.id,
                            'nome': this.envolvidosCopia[envolvido].nome,
                            'envolvimento': this.envolvidosCopia[envolvido].envolvimento,
                            'relacao': this.envolvidosCopia[envolvido].relacao
                          }
                        })
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  this.verificarFuncionarios(dataComunicado, indexComunicadoInterno)
                  for (let envolvidoFuncionario in this.envolvidosFuncionariosCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/envolvidosfuncionarioscomunicado/' + this.envolvidosFuncionariosCopia[envolvidoFuncionario].matricula + '/' + dataComunicado.id, {
                      'Envolvimento': this.envolvidosFuncionariosCopia[envolvidoFuncionario].envolvimento,
                      'Relacao': this.envolvidosFuncionariosCopia[envolvidoFuncionario].relacao
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_ENVOLVIDOFUNCIONARIO', {
                        'index': indexComunicadoInterno,
                        'envolvido': {
                          'idComunicado': dataComunicado.id,
                          'idFuncionario': this.envolvidosFuncionariosCopia[envolvidoFuncionario],
                          'envolvimento': this.envolvidosFuncionariosCopia[envolvidoFuncionario].envolvimento,
                          'relacao': this.envolvidosFuncionariosCopia[envolvidoFuncionario].relacao
                        }
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                })
              }, (response) => {
                console.log('erro: ', response)
                this.errorClass = 'has-warning'
                this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
              })
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        } else {
          this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
            'Matricula': this.matriculaResponsavelCopia,
            'Nome': this.nomeResponsavelCopia,
            'DataNascimento': '1994-04-04',
            'Sexo': '',
            'EstadoCivil': '',
            'InicioFuncao': '1994-04-04',
            'GrauInstrucao': '',
            'EstadoInstrucao': '',
            'InicioRefeicao': '00:00:00',
            'FinalRefeicao': '00:00:00',
            'TurnoTrabalho': '',
            'Nacionalidade': '',
            'InicioTrabalho': '00:00:00',
            'HoraExtra': 0,
            'TB_Local_idTB_Local': 'NULL',
            'TB_Funcao_idTB_Funcao': 'NULL',
            'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionadaCopia.id
          }).then((response) => {
            console.log('sucess ', response.body)
            this.$store.commit('ADD_FUNCIONARIO', {
              'matricula': this.matriculaResponsavelCopia,
              'nome': this.nomeResponsavelCopia,
              'dataNascimento': '1994-04-04',
              'sexo': '',
              'estadoCivil': '',
              'inicioFuncao': '1994-04-04',
              'grauInstrucao': '',
              'estadoInstrucao': '',
              'inicioRefeicao': '00:00:00',
              'fimRefeicao': '00:00:00',
              'turnoTrabalho': '',
              'nacionalidade': '',
              'inicioTrabalho': '00:00:00',
              'horaExtra': '',
              'local': {
                'id': '',
                'endereco': '',
                'cep': 0,
                'posicaoGeografica': '',
                'estado': '',
                'cidade': ''
              },
              'funcao': {'id': '', 'nome': ''},
              'localidadePolo': this.localidadePoloSelecionadaCopia
            })
            this.$http.post(this.$store.state.urlAPI + 'dados/locais/novo_local', {
              'Endereco': this.endereco,
              'CEP': this.cep,
              'PosicaoGeografica': this.posicaoGeografica,
              'Estado': this.estado,
              'Cidade': this.cidade
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataLocal) => {
                this.$http.post(this.$store.state.urlAPI + 'formularios/comunicados_internos/novo_comunicado', {
                  'HoraCriacao': this.horaCriacao,
                  'DataCriacao': this.dataCriacao,
                  'DataOcorrido': this.dataOcorrido,
                  'HoraOcorrido': this.horaOcorrido,
                  'Tipo': this.tipo,
                  'Tema': this.tema,
                  'Descricao': this.descricao,
                  'DanosPessoais': this.danosPessoais,
                  'DanosMateriaisAmbientais': this.danosMateriaisAmbientais,
                  'Codigo': this.codigo,
                  'RepresentanteSesmt': this.representanteSesmt,
                  'Gravidade': this.gravidade,
                  'NaturezaLesao': this.naturezaLesao,
                  'ParteCorpo': this.parteCorpo,
                  'EspecificacaoRisco': this.especificacaoRisco,
                  'NumeroCat': this.numeroCat,
                  'TB_Local_idTB_Local': dataLocal.id,
                  'TB_Funcionario_Matricula': this.matriculaResponsavelCopia,
                  'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionadaCopia.id,
                  'TB_AnaliseRisco_idTB_AnaliseRisco': this.analiseRiscoSelecionadaCopia.id,
                  'TB_Processo_idTB_Processo': this.processoSelecionadoCopia.id,
                  'Tarefa': this.tarefaCopia
                }).then((response) => {
                  console.log('sucess ', response.body)
                  response.json().then((dataComunicado) => {
                    this.$store.commit('ADD_COMUNICADOINTERNO', {
                      'id': dataComunicado.id,
                      'horaCriacao': this.horaCriacaoCopia,
                      'dataCriacao': this.dataCriacaoCopia,
                      'dataOcorrido': this.dataOcorridoCopia,
                      'horaOcorrido': this.horaOcorridoCopia,
                      'descricao': this.descricao,
                      'tipo': this.tipoCopia,
                      'tema': this.temaCopia,
                      'danosPessoais': this.danosPessoaisCopia,
                      'danosMateriaisAmbientais': this.danosMateriaisAmbientaisCopia,
                      'codigo': this.codigoCopia,
                      'representanteSesmt': this.representanteSesmtCopia,
                      'gravidade': this.gravidadeCopia,
                      'naturezaLesao': this.naturezaLesaoCopia,
                      'parteCorpo': this.parteCorpoCopia,
                      'especificacaoRisco': this.especificacaoRiscoCopia,
                      'numeroCat': this.numeroCatCopia,
                      'local': {
                        'id': dataLocal.id,
                        'endereco': this.enderecoCopia,
                        'cep': this.cepCopia,
                        'posicaoGeografica': this.posicaoGeograficaCopia,
                        'estado': this.estadoCopia,
                        'cidade': this.cidadeCopia
                      },
                      'funcionario': {'matricula': this.matriculaResponsavelCopia, 'nome': this.nomeResponsavelCopia},
                      'analiseRisco': this.analiseRiscoSelecionadaCopia,
                      'processo': this.processoSelecionadoCopia,
                      'tarefa': this.tarefaCopia,
                      'localidadePolo': this.localidadePoloSelecionadaCopia,
                      'envolvidos': [],
                      'envolvidosFuncionarios': [],
                      'residuos': []
                    })
                    let indexComunicadoInterno = this.$store.state.comunicadosInternos.length - 1
                    for (let residuo in this.residuosCopia) {
                      this.$http.post(this.$store.state.urlAPI + 'dados/residuos/novo_residuo', {
                        'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': dataComunicado.id,
                        'Identificacao': this.residuosCopia[residuo].identificacao,
                        'Quantidade': this.residuosCopia[residuo].quantidade,
                        'DestinacaoDada': this.residuosCopia[residuo].destinacaoDada
                      }).then((response) => {
                        console.log('sucess ', response.body)
                        response.json().then((dataResiduo) => {
                          this.$store.commit('ADD_RESIDUO', {
                            'index': indexComunicadoInterno,
                            'residuo': {
                              'comunicado': dataComunicado.id,
                              'id': dataResiduo.id,
                              'identificacao': this.residuosCopia[residuo].identificacao,
                              'residuo': this.residuosCopia[residuo].quantidade,
                              'destinacaoDada': this.residuosCopia[residuo].destinacaoDada
                            }
                          })
                        })
                      }, (response) => {
                        console.log('erro: ', response)
                        this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                        this.error2Class = 'alert-warning'
                        this.erro = true
                      })
                    }
                    for (let envolvido in this.envolvidosCopia) {
                      this.$http.post(this.$store.state.urlAPI + 'dados/envolvidoscomunicado/novo_envolvido', {
                        'Nome': this.envolvidosCopia[envolvido].nome,
                        'Envolvimento': this.envolvidosCopia[envolvido].envolvimento,
                        'Relacao': this.envolvidosCopia[envolvido].relacao,
                        'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': dataComunicado.id
                      }).then((response) => {
                        console.log('sucess ', response.body)
                        response.json().then((dataEnvolvido) => {
                          this.$store.commit('ADD_ENVOLVIDO', {
                            'index': indexComunicadoInterno,
                            'envolvido': {
                              'id': dataEnvolvido.id,
                              'nome': this.envolvidosCopia[envolvido].nome,
                              'envolvimento': this.envolvidosCopia[envolvido].envolvimento,
                              'relacao': this.envolvidosCopia[envolvido].relacao,
                              'comunicado': dataComunicado.id
                            }
                          })
                        })
                      }, (response) => {
                        console.log('erro: ', response)
                        this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                        this.error2Class = 'alert-warning'
                        this.erro = true
                      })
                    }
                    this.verificarFuncionarios(dataComunicado, indexComunicadoInterno)
                    for (let envolvidoFuncionario in this.envolvidosFuncionariosCopia) {
                      this.$http.post(this.$store.state.urlAPI + 'dados/envolvidosfuncionarioscomunicado/' + this.envolvidosFuncionariosCopia[envolvidoFuncionario].matricula + '/' + dataComunicado.id, {
                        'Envolvimento': this.envolvidosFuncionariosCopia[envolvidoFuncionario].envolvimento,
                        'Relacao': this.envolvidosFuncionariosCopia[envolvidoFuncionario].relacao
                      }).then((response) => {
                        console.log('sucess ', response.body)
                        this.$store.commit('ADD_ENVOLVIDOFUNCIONARIO', {
                          'index': indexComunicadoInterno,
                          'envolvido': {
                            'idComunicado': dataComunicado.id,
                            'idFuncionario': this.envolvidosFuncionariosCopia[envolvidoFuncionario],
                            'envolvimento': this.envolvidosFuncionariosCopia[envolvidoFuncionario].envolvimento,
                            'relacao': this.envolvidosFuncionariosCopia[envolvidoFuncionario].relacao
                          }
                        })
                      }, (response) => {
                        console.log('erro: ', response)
                        this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                        this.error2Class = 'alert-warning'
                        this.erro = true
                      })
                    }
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.errorClass = 'has-warning'
                  this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                })
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        }
      },
      getFuncionarios () {
        this.$http.get(this.$store.state.urlAPI + 'dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      parteCorpoSelecionada (parteCorpo) {
        this.parteCorpo = parteCorpo
      },
      getProcessos () {
        this.$http.get(this.$store.state.urlAPI + 'dados/processos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PROCESSOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      getRegionais () {
        this.$http.get(this.$store.state.urlAPI + 'dados/regionais').then((response) => {
          console.log('sucess regionais')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      desaparecer () {
        this.erro = false
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      procurarEndereco (pol) {
        for (var endereco in this.dados.address_components) {
          for (var politica in this.dados.address_components[endereco].types) {
            if (this.dados.address_components[endereco].types[politica] === pol) {
              return this.dados.address_components[endereco].long_name
            }
          }
        }
        return ''
      },
      carregarEnderecos () {
        if (this.vm.location !== {}) {
          this.endereco = this.procurarEndereco('route') + ' - ' + this.procurarEndereco('sublocality')
          this.cidade = this.procurarEndereco('administrative_area_level_2')
          this.estado = this.procurarEndereco('administrative_area_level_1')
          var cep = this.procurarEndereco('postal_code').split('-')
          this.cep = Number(cep[0] + cep[1])
          this.posicaoGeografica = JSON.stringify(this.vm.location.geometry.location)
        } else {
          this.endereco = this.vm.searchPlace
        }
      },
      adicionarEnvolvido () {
        this.membros.push({'nome': this.nomeEnvolvido, 'matricula': this.matriculaEnvolvido, 'envolvimento': this.envolvimentoEnvolvido, 'relacao': this.relacaoEnvolvido})
        if (this.matriculaEnvolvido === '') {
          this.envolvidos.push({'nome': this.nomeEnvolvido, 'envolvimento': this.envolvimentoEnvolvido, 'relacao': this.relacaoEnvolvido})
        } else {
          this.envolvidosFuncionarios.push({'nome': this.nomeEnvolvido, 'matricula': this.matriculaEnvolvido, 'envolvimento': this.envolvimentoEnvolvido, 'relacao': this.relacaoEnvolvido})
        }
        this.nomeEnvolvido = ''
        this.matriculaEnvolvido = ''
        this.envolvimentoEnvolvido = ''
        this.relacaoEnvolvido = ''
      },
      removerEnvolvido (envolvidoPassado, index) {
        this.membros.splice(index, 1)
        let envolvido = this.envolvidos.findIndex(fun => fun.nome === envolvidoPassado.nome)
        let envolvidoFuncionario = this.envolvidosFuncionarios.findIndex(fun => fun.nome === envolvidoPassado.nome)
        if (envolvido !== -1) {
          this.envolvidos.splice(envolvido, 1)
        }
        if (envolvido !== -1) {
          this.envolvidosFuncionarios.splice(envolvidoFuncionario, 1)
        }
      },
      adicionarResiduo () {
        this.residuos.push({'identificacao': this.identificacaoResiduo, 'quantidade': this.quantidadeResiduo, 'destinacaoDada': this.destinacaoDadaResiduo})
        this.identificacaoResiduo = ''
        this.quantidadeResiduo = ''
        this.destinacaoDada = ''
      },
      removerResiduo (index) {
        this.residuos.splice(index, 1)
      },
      autoResponsavel () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaResponsavel)
        if (index !== -1) {
          this.nomeResponsavel = this.funcionarios[index].nome
        }
      },
      autoEnvolvido () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaEnvolvido)
        if (index !== -1) {
          this.nomeEnvolvido = this.funcionarios[index].nome
        }
      },
      getAnalisesRisco () {
        this.$http.get(this.$store.state.urlAPI + 'formularios/analisesrisco').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_ANALISESRISCO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      verificarFuncionarios (dataComunicado, index) {
        let novo = true
        let novosFuncionarios = []
        let novosFuncionariosCopia = []
        let membros2 = []
        let index1 = 0
        let index2 = 0
        for (let possivelFuncionario in this.envolvidosFuncionarios) {
          for (let funcionario in this.funcionarios) {
            if (this.envolvidosFuncionarios[possivelFuncionario].matricula === this.funcionarios[funcionario].matricula) {
              novo = false
            }
          }
          if (novo === true) {
            novosFuncionarios.push(this.envolvidosFuncionarios[possivelFuncionario])
            novosFuncionariosCopia.push(this.envolvidosFuncionarios[possivelFuncionario])
            console.log('adicionou1')
          } else {
            membros2.push(this.envolvidosFuncionarios[possivelFuncionario])
            console.log('adicionou2')
          }
          novo = true
        }
        this.envolvidosFuncionarios = membros2
        if (novosFuncionarios.length !== 0) {
          console.log('executou2')
          this.index1 = 0
          for (let funcionario in novosFuncionariosCopia) {
            console.log('executou3')
            this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
              'Matricula': novosFuncionarios[funcionario].matricula,
              'Nome': novosFuncionarios[funcionario].nome,
              'DataNascimento': '1994-04-04',
              'Sexo': '',
              'EstadoCivil': '',
              'InicioFuncao': '1994-04-04',
              'GrauInstrucao': '',
              'EstadoInstrucao': '',
              'InicioRefeicao': '00:00:00',
              'FinalRefeicao': '00:00:00',
              'TurnoTrabalho': '',
              'Nacionalidade': '',
              'InicioTrabalho': '00:00:00',
              'HoraExtra': 0,
              'TB_Local_idTB_Local': 'NULL',
              'TB_Funcao_idTB_Funcao': 'NULL',
              'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionadaCopia.id
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataFuncionario) => {
                this.$store.commit('ADD_FUNCIONARIO', {
                  'matricula': novosFuncionariosCopia[index1].matricula,
                  'nome': novosFuncionariosCopia[index1].nome,
                  'dataNascimento': '1994-04-04',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '1994-04-04',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '00:00:00',
                  'fimRefeicao': '00:00:00',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'inicioTrabalho': '00:00:00',
                  'horaExtra': 0,
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': 0,
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': this.localidadePoloSelecionadaCopia
                })
                console.log('valor ' + index1)
                this.$http.post(this.$store.state.urlAPI + 'dados/envolvidosfuncionarioscomunicado/' + novosFuncionariosCopia[index1].matricula + '/' + dataComunicado.id, {
                  'Relacao': novosFuncionariosCopia[index1].relacao,
                  'Envolvimento': novosFuncionariosCopia[index1].envolvimento
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_ENVOLVIDOFUNCIONARIO', {
                    'index': index,
                    'envolvido': {
                      'idComunicado': dataComunicado.id,
                      'idFuncionario': novosFuncionariosCopia[index2],
                      'envolvimento': novosFuncionariosCopia[index2].envolvimento,
                      'relacao': novosFuncionariosCopia[index2].relacao
                    }
                  })
                  index2++
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
                index1++
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }
        }
      }
    }
  }
</script>
<style></style>
