<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Informação da Localidade</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/analisesrisco" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <div class="input-group">
                <span class="input-group-addon">Data:</span>
                  <input type="date" class="form-control" placeholder="31/12/1994" v-model="analiserisco.dataOcorrido" readonly>
              </div>
              <br/>
              <div class="form-group">
                <label class="control-label" for="localidadePolo">Local de trabalho</label>
                <select class="form-control" id="localidadePolo" readonly>
                  <option selected>{{analiserisco.localidadePolo.nome}}</option>
                </select>
              </div>
              <br/>
              <div class="form-group">
                <label class="control-label">Processo</label>
                <select class="form-control" readonly>
                  <option selected>{{analiserisco.tipoProcesso.nome}}</option>
                </select>
              </div>
              <br/>
              <fieldset>
                <legend>Local</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Endereço</span>
                  <input type="text" class="form-control" v-model="analiserisco.local.endereco" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="cep">CEP</span>
                  <input type="number" class="form-control" placeholder="ex: 66115080" v-model="analiserisco.local.cep" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="estado">Estado</span>
                  <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="analiserisco.local.estado" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="cidade">Cidade</span>
                  <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="analiserisco.local.cidade" readonly>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Responsável</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="analiserisco.funcionario.nome" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="analiserisco.funcionario.matricula" placeholder="ex: 220302" readonly>
                </div>
                <br/>
              </fieldset>
              <br/>
              <fieldset>
              <legend>Equipe</legend>
              <div v-for="funcionario in analiserisco.membros">
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="funcionario.nome" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="funcionario.matricula" placeholder="ex: 220302"readonly>
                </div>
                <br/>
              </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Descrição da Atividade</legend>
                <div class="form-group">
                  <label class="control-label">Nº O.S</label>
                  <textarea class="form-control" rows="3" v-model="analiserisco.descricaoAtividade" readonly></textarea>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Identificação de Riscos</legend>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12" v-for="riscoidentificado in analiserisco.riscosIdentificados">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." checked>
                      </span>
                      <input type="text" class="form-control" :value="riscoidentificado.nome" readonly>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Equipamentos de Proteção Individual - EPI's necessários</legend>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12" v-for="equipamentoIndividual in analiserisco.equipamentosIndividuais">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" checked>
                      </span>
                      <input type="text" class="form-control" :value="equipamentoIndividual.nome" readonly>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Equipamentos de Proteção Coletiva - EPC's necessários</legend>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12" v-for="equipamentoColetivo in analiserisco.equipamentosColetivos">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." checked>
                      </span>
                      <input type="text" class="form-control" :value="equipamentoColetivo.nome" readonly>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Análise preliminar das atividades</legend>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Perguntas</th>
                      <th style="width: 50px">Sim</th>
                      <th style="width: 50px">Não</th>
                      <th style="width: 50px">N/A</th>
                    </tr>
                      <tr v-for="(pergunta,index) in analiserisco.perguntasRespondidas">
                        <td>
                          {{pergunta.idPergunta.pergunta}}
                        </td>
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="pergunta.resposta" value="Sim" aria-label="...">
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="pergunta.resposta" value="Não" aria-label="...">
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="pergunta.resposta" value="N/A" aria-label="...">
                            </label>
                          </div>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Parecer da Equipe</legend>
                <div class="form-group">
                  <label class="control-label">A atividade pode ser realizada com segurança?</label>
                  <label class="radio-inline">
                    <input type="radio" name="atividadeSegura" v-model.number="analiserisco.atividadeSegura" value="1" readonly> Sim
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="atividadeSegura" v-model.number="analiserisco.atividadeSegura" value="0" readonly> Não
                  </label>
                </div>
                <br/>
                <div class="form-group" v-if="atividadeSegura === 0">
                  <label class="control-label">Justificativa</label>
                  <textarea class="form-control" rows="3" v-model="analiserisco.justificativa" readyonly></textarea>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Observação</legend>
                <div class="form-group">
                  <textarea class="form-control" rows="3" v-model="analiserisco.observacao" readonly></textarea>
                </div>
              </fieldset>
              <div style="width: 100%; height: 300px">
                <google-map :center="center" :zoom="17">
                  <map-marker :position="marker" :opacity="marker.opacity" v-model="marker">
                  </map-marker>
                </google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import * as VueGoogleMaps from 'vue2-google-maps'
  export default {
    name: 'analisesrisco',
    data () {
      return {
        marker: { lat: JSON.parse(this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica).lng },
        center: { lat: JSON.parse(this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica).lng }
      }
    },
    computed: {
      analiserisco () {
        return this.$store.state.analisesrisco[this.$route.query.index]
      }
    },
    components: {
      'googleMap': VueGoogleMaps.Map,
      'MapMarker': VueGoogleMaps.Marker
    }
  }
</script>
<style>

</style>
