<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[error2Class]" role="alert" v-if="erro">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
        <strong>Atenção!</strong> {{mensagemErro}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Novo Desvio</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/desvios" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="enviar" autocomplete="off">
                <div class="input-group">
                  <span class="input-group-addon">Data:</span>
                    <input type="date" class="form-control" placeholder="31/12/1994" v-model="dataOcorrido">
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Hora:</span>
                    <input type="time" class="form-control" v-model="horaOcorrido">
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label" for="localidadePolo">Local de trabalho</label>
                  <select class="form-control" id="localidadePolo" v-model="localidadePoloSelecionada" required>
                    <option v-for="localidadePolo in localidadesPolo" :value="localidadePolo">{{localidadePolo.nome}}</option>
                  </select>
                </div>
                <br/>
                <fieldset>
                  <legend>Local</legend>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Endereço</span>
                    <input type="text" class="form-control" v-model=vm.searchPlace v-gmaps-searchbox:location=vm placeholder="ex: Passagem santa cruz">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cep">CEP</span>
                    <input type="number" class="form-control" placeholder="ex: 66115080" v-model="cep" >
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="estado">Estado</span>
                    <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="estado">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cidade">Cidade</span>
                    <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="cidade">
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Responsável</legend>
                  <div class="input-group">
                    <span class="input-group-addon" >Matrícula</span>
                    <input type="text" class="form-control" v-model="matriculaResponsavel" placeholder="ex: 220302" list="matriculas" @change="autoResponsavel()">
                    <datalist id="matriculas">
                      <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                    </datalist>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="nome">Nome</span>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeResponsavel" list="funcionarios">
                  </div>
                  <br/>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Informações do desvio</legend>
                  <div class="form-group">
                    <label class="control-label">Registro</label>
                    <textarea class="form-control" rows="3" v-model="registro"></textarea>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Tipo</label>
                    <label class="radio-inline">
                      <input type="radio" name="tipo" v-model.number="tipo" value="Boas práticas" > Boas práticas
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="tipo" v-model.number="tipo" value="Irregularidade" > Irregularidade
                    </label>
                  </div>
                  <br/>
                </fieldset>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'novodesvio',
    data () {
      return {
        dataOcorrido: '',
        dataOcorridoCopia: '',
        horaOcorrido: '',
        horaOcorridoCopia: '',
        registro: '',
        registroCopia: '',
        dataCriacao: '',
        dataCriacaoCopia: '',
        horaCriacao: '',
        horaCriacaoCopia: '',
        tipo: '',
        tipoCopia: '',
        endereco: '',
        enderecoCopia: '',
        cep: '',
        cepCopia: '',
        posicaoGeografica: '',
        posicaoGeograficaCopia: '',
        estado: '',
        estadoCopia: '',
        cidade: '',
        cidadeCopia: '',
        localidadePoloSelecionada: '',
        localidadePoloSelecionadaCopia: '',
        nomeResponsavel: '',
        nomeResponsavelCopia: '',
        matriculaResponsavel: '',
        matriculaResponsavelCopia: '',
        vm: {
          searchPlace: '',
          location: {}
        },
        errorClass: '',
        error2Class: '',
        mensagemEnvio: '',
        mensagemErro: '',
        erro: ''
      }
    },
    computed: {
      dados () {
        return this.vm.location
      },
      preenchido () {
        return this.vm.searchPlace
      },
      funcionarios () {
        return this.$store.state.funcionarios
      },
      localidadesPolo () {
        return this.$store.state.localidadespolo
      }
    },
    mounted () {
      this.getFuncionarios()
      this.getLocalidadesPolo()
    },
    watch: {
      dados () {
        this.carregarEnderecos()
      },
      preenchido () {
        if (this.preenchido === '') {
          this.cep = ''
          this.estado = ''
          this.cidade = ''
          this.posicaoGeografica = ''
        }
      }
    },
    methods: {
      enviar () {
        this.dataCriacao = new Date().toLocaleDateString()
        this.horaCriacao = new Date().toLocaleTimeString()
        this.dataOcorrido = this.reverseData(this.dataOcorrido)
        this.dataCriacao = this.reverseData(this.dataCriacao)
        this.horaOcorridoCopia = this.horaOcorrido
        this.dataCriacaoCopia = this.dataCriacao
        this.horaCriacaoCopia = this.horaCriacao
        this.dataOcorridoCopia = this.dataOcorrido
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.nomeResponsavelCopia = this.nomeResponsavel
        this.matriculaResponsavelCopia = this.matriculaResponsavel
        this.tipoCopia = this.tipo
        this.registroCopia = this.registro
        this.localidadePoloSelecionadaCopia = this.localidadePoloSelecionada
        var novo = true
        for (this.funcionario in this.funcionarios) {
          if (this.matriculaResponsavel === this.funcionarios[this.funcionario].matricula) {
            novo = false
            break
          }
        }
        if (novo === false) {
          this.$http.post(this.$store.state.urlAPI + 'dados/locais/novo_local', {
            'Endereco': this.endereco,
            'CEP': this.cep,
            'PosicaoGeografica': this.posicaoGeografica,
            'Estado': this.estado,
            'Cidade': this.cidade
          }).then((response) => {
            console.log('sucess ', response.body)
            response.json().then((dataLocal) => {
              this.$http.post(this.$store.state.urlAPI + 'formularios/desvios/novo_desvio', {
                'DataCriacao': this.dataCriacao,
                'HoraCriacao': this.horaCriacao,
                'TB_Local_idTB_Local': dataLocal.id,
                'DataOcorrido': this.dataOcorrido,
                'HoraOcorrido': this.horaOcorrido,
                'Tipo': this.tipo,
                'Registro': this.registro,
                'TB_Funcionario_Matricula': this.matriculaResponsavel,
                'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionada.id
              }).then((response) => {
                console.log('sucess ', response.body)
                response.json().then((dataDesvio) => {
                  this.$store.commit('ADD_DESVIO', {
                    'id': dataDesvio.id,
                    'dataCriacao': this.dataCriacaoCopia,
                    'horaCriacao': this.horaCriacaoCopia,
                    'local': {
                      'id': dataLocal.id,
                      'endereco': this.enderecoCopia,
                      'cep': this.cepCopia,
                      'posicaoGeografica': this.posicaoGeograficaCopia,
                      'estado': this.estadoCopia,
                      'cidade': this.cidadeCopia
                    },
                    'tipo': this.tipoCopia,
                    'dataOcorrido': this.dataOcorridoCopia,
                    'horaOcorrido': this.horaOcorridoCopia,
                    'registro': this.registroCopia,
                    'funcionario': {
                      'matricula': this.matriculaResponsavelCopia,
                      'nome': this.nomeResponsavelCopia,
                      'dataNascimento': '',
                      'sexo': '',
                      'estadoCivil': '',
                      'inicioFuncao': '',
                      'grauInstrucao': '',
                      'estadoInstrucao': '',
                      'inicioRefeicao': '',
                      'fimRefeicao': '',
                      'turnoTrabalho': '',
                      'nacionalidade': '',
                      'local': {
                        'id': '',
                        'endereco': '',
                        'cep': '',
                        'posicaoGeografica': '',
                        'estado': '',
                        'cidade': ''
                      },
                      'funcao': {'id': '', 'nome': ''},
                      'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                    },
                    'localidadePolo': this.localidadePoloSelecionadaCopia
                  })
                })
                this.errorClass = 'has-success'
                this.mensagemEnvio = 'Enviado com sucesso'
              }, (response) => {
                console.log('erro: ', response)
                this.errorClass = 'has-warning'
                this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
              })
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        } else {
          this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
            'Matricula': this.matriculaResponsavel,
            'Nome': this.nomeResponsavel,
            'DataNascimento': '0000-00-00',
            'Sexo': '',
            'EstadoCivil': '',
            'InicioFuncao': '',
            'GrauInstrucao': '',
            'EstadoInstrucao': '',
            'InicioRefeicao': '',
            'FinalRefeicao': '',
            'TurnoTrabalho': '',
            'Nacionalidade': '',
            'TB_Local_idTB_Local': 'NULL',
            'TB_Funcao_idTB_Funcao': 'NULL',
            'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
          }).then((response) => {
            console.log('sucess ', response.body)
            response.json().then((dataFuncionario) => {
              this.matriculaResponsavel = this.matriculaResponsavelCopia
              this.nomeResponsavel = this.nomeResponsavelCopia
              this.$store.commit('ADD_FUNCIONARIO', {
                'matricula': this.matriculaResponsavelCopia,
                'nome': this.nomeResponsavelCopia,
                'dataNascimento': '',
                'sexo': '',
                'estadoCivil': '',
                'inicioFuncao': '',
                'grauInstrucao': '',
                'estadoInstrucao': '',
                'inicioRefeicao': '',
                'fimRefeicao': '',
                'turnoTrabalho': '',
                'nacionalidade': '',
                'local': {
                  'id': '',
                  'endereco': '',
                  'cep': '',
                  'posicaoGeografica': '',
                  'estado': '',
                  'cidade': ''
                },
                'funcao': {'id': '', 'nome': ''},
                'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
              })
              this.$http.post(this.$store.state.urlAPI + 'dados/locais/novo_local', {
                'Endereco': this.endereco,
                'CEP': this.cep,
                'PosicaoGeografica': this.posicaoGeografica,
                'Estado': this.estado,
                'Cidade': this.cidade
              }).then((response) => {
                console.log('sucess ', response.body)
                response.json().then((dataLocal) => {
                  this.$http.post(this.$store.state.urlAPI + 'formularios/desvios/novo_desvio', {
                    'DataCriacao': this.dataCriacao,
                    'HoraCriacao': this.horaCriacao,
                    'TB_Local_idTB_Local': dataLocal.id,
                    'DataOcorrido': this.dataOcorrido,
                    'HoraOcorrido': this.horaOcorrido,
                    'Tipo': this.tipo,
                    'Registro': this.registro,
                    'TB_Funcionario_Matricula': this.matriculaResponsavel,
                    'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionada.id
                  }).then((response) => {
                    console.log('sucess ', response.body)
                    response.json().then((dataDesvio) => {
                      this.$store.commit('ADD_DESVIO', {
                        'id': dataDesvio.id,
                        'dataCriacao': this.dataCriacaoCopia,
                        'horaCriacao': this.horaCriacaoCopia,
                        'local': {
                          'id': dataLocal.id,
                          'endereco': this.enderecoCopia,
                          'cep': this.cepCopia,
                          'posicaoGeografica': this.posicaoGeograficaCopia,
                          'estado': this.estadoCopia,
                          'cidade': this.cidadeCopia
                        },
                        'tipo': this.tipoCopia,
                        'dataOcorrido': this.dataOcorridoCopia,
                        'horaOcorrido': this.horaOcorridoCopia,
                        'registro': this.registroCopia,
                        'funcionario': {
                          'matricula': this.matriculaResponsavelCopia,
                          'nome': this.nomeResponsavelCopia,
                          'dataNascimento': '',
                          'sexo': '',
                          'estadoCivil': '',
                          'inicioFuncao': '',
                          'grauInstrucao': '',
                          'estadoInstrucao': '',
                          'inicioRefeicao': '',
                          'fimRefeicao': '',
                          'turnoTrabalho': '',
                          'nacionalidade': '',
                          'local': {
                            'id': '',
                            'endereco': '',
                            'cep': '',
                            'posicaoGeografica': '',
                            'estado': '',
                            'cidade': ''
                          },
                          'funcao': {'id': '', 'nome': ''},
                          'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                        },
                        'localidadePolo': this.localidadePoloSelecionadaCopia
                      })
                    })
                    this.errorClass = 'has-success'
                    this.mensagemEnvio = 'Enviado com sucesso'
                  }, (response) => {
                    console.log('erro: ', response)
                    this.errorClass = 'has-warning'
                    this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                  })
                })
              }, (response) => {
                console.log('erro: ', response)
                this.errorClass = 'has-warning'
                this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
              })
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        }
      },
      getFuncionarios () {
        this.$http.get(this.$store.state.urlAPI + 'dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      getLocalidadesPolo () {
        this.$http.get(this.$store.state.urlAPI + 'dados/localidadespolo').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_LOCALIDADESPOLO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      desaparecer () {
        this.erro = false
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      procurarEndereco (pol) {
        for (var endereco in this.dados.address_components) {
          for (var politica in this.dados.address_components[endereco].types) {
            if (this.dados.address_components[endereco].types[politica] === pol) {
              return this.dados.address_components[endereco].long_name
            }
          }
        }
        return ''
      },
      carregarEnderecos () {
        this.endereco = this.procurarEndereco('route') + ' - ' + this.procurarEndereco('sublocality')
        this.cidade = this.procurarEndereco('administrative_area_level_2')
        this.estado = this.procurarEndereco('administrative_area_level_1')
        var cep = this.procurarEndereco('postal_code').split('-')
        this.cep = Number(cep[0] + cep[1])
        this.posicaoGeografica = JSON.stringify(this.vm.location.geometry.location)
      },
      autoResponsavel () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaResponsavel)
        if (index !== -1) {
          this.nomeResponsavel = this.funcionarios[index].nome
        }
      }
    }
  }
</script>
<style>

</style>
